.cuatro {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 500px;
}
.ad {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  max-height: 500px;
}

.dropdown:hover .dropdown-menu {
   display: block;
}

.nav-item {
  border-left: 1px solid  #ccc;
}
.imgN2{

  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 200px;

}

.team{
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 250px;
}

body { padding-top: 106px; }